Repository xodio/xod, pull requests merged in 2018-02, with the labels that each got.

#1082 Add project and library management articles
  docs/README.md
  docs/guide/README.md
  docs/guide/creating-libraries/README.md
  docs/guide/creating-libraries/project-preferences.png
  docs/guide/creating-libraries/publish.png
  docs/guide/projects/README.md
  docs/guide/using-libraries/README.md
  docs/guide/using-libraries/screencast.gif
Labels: t:doc

#1083 Increase test timeouts to fight flakes
  packages/xod-deploy/test-func/mocha.opts
Labels: s:core, t:chore

#1092 Fix "stuck" tooltips
  packages/xod-client/src/tooltip/components/TooltipHOC.jsx
Labels: s:client, t:bug
