Repository xodio/xod, pull requests merged in 2019-02, with the labels that each got.

#1649 Simulate program and see values in watches
  packages/xod-arduino/platform/configuration.tpl.cpp
  packages/xod-arduino/platform/runtime.cpp
  packages/xod-arduino/src/Transpiler.re
  packages/xod-arduino/src/Transpiler.rei
  packages/xod-arduino/src/constants.js
  packages/xod-arduino/src/index.js
  packages/xod-arduino/src/transpiler.js
  packages/xod-arduino/src/types.js
  packages/xod-arduino/test/transpiler.spec.js
  packages/xod-cli/src/listrTasks.js
  packages/xod-client-browser/src/containers/App.jsx
  packages/xod-client-electron/src/app/arduinoActions.js
  packages/xod-client-electron/src/view/containers/App.jsx
  packages/xod-client/src/core/containers/App.jsx
  packages/xod-client/src/core/styles/components/Debugger.scss
  packages/xod-client/src/debugger/containers/Debugger.jsx
  packages/xod-client/src/debugger/containers/DebuggerTopPane.jsx
  packages/xod-client/src/debugger/debugProtocol.js
  packages/xod-client/src/debugger/messages.js
  packages/xod-client/src/debugger/reducer.js
  packages/xod-client/src/editor/actionTypes.js
  packages/xod-client/src/editor/actions.js
  packages/xod-client/src/editor/containers/Editor.jsx
  packages/xod-client/src/editor/messages.js
  packages/xod-client/src/editor/reducer.js
  packages/xod-client/src/editor/selectors.js
  packages/xod-client/src/editor/state.js
  packages/xod-client/src/index.js
  packages/xod-client/src/utils/menu.js
  packages/xod-client/src/workers/reducer.js
  packages/xod-client/src/workers/run.js
  packages/xod-client/src/workers/wasm.worker.js
  packages/xod-cloud-tabtest/src/compile.js
  packages/xod-cloud-tabtest/src/errorCodes.js
  packages/xod-cloud-tabtest/src/index.js
  packages/xod-cloud-tabtest/src/prepareModuleOptions.js
  packages/xod-tabtest/src/Tabtest.re
  workspace/__lib__/xod/core/console-log/patch.cpp
  workspace/__lib__/xod/core/watch/patch.cpp
  workspace/blink/__fixtures__/arduino.cpp
  workspace/blink/__fixtures__/firmware.hex
  workspace/count-with-feedback-loops/__fixtures__/arduino.cpp
  workspace/lcd-time/__fixtures__/arduino.cpp
  workspace/two-button-switch/__fixtures__/arduino.cpp
Labels: s:client, s:rt/c++, s:stdlib, t:feat

#1651 Make `xod-cloud-tabtest` works with new FQBN and rename the package
  packages/xod-client/package.json
  packages/xod-client/src/debugger/messages.js
  packages/xod-client/src/debugger/reducer.js
  packages/xod-client/src/editor/actions.js
  packages/xod-client/src/workers/run.js
  packages/xod-cloud-compile/.babelrc
  packages/xod-cloud-compile/README.md
  packages/xod-cloud-compile/package.json
  packages/xod-cloud-compile/src/compile.js
  packages/xod-cloud-compile/src/errorCodes.js
  packages/xod-cloud-compile/src/index.js
  packages/xod-cloud-compile/src/prepareModuleOptions.js
  packages/xod-cloud-tabtest/README.md
  packages/xod-cloud-tabtest/src/prepareModuleOptions.js
Labels: s:infra, t:chore, t:refactor

#1652 Fix tabtest of `xod/core/cast-to-string(number)`
  workspace/__lib__/xod/core/cast-to-string(number)/patch.test.tsv
Labels: s:stdlib, t:bug

#1654 Send Authorization header within cloud compilation request
  packages/xod-client/src/editor/actions.js
  packages/xod-client/src/user/selectors.js
  packages/xod-cloud-compile/src/compile.js
Labels: t:tweak

#1655 Fix sidebar height in FF with CSS
  packages/xod-client/src/core/styles/components/Sidebar.scss
Labels: regression, s:client, t:bug

#1658 Add tooltips for show/hide sidebar pane buttons
  packages/xod-client/src/editor/components/SidebarSwitches.jsx
Labels: s:client, t:tweak

#1659 Make a fancy look for `xod/patch-nodes/jumper`
  packages/xod-client/src/core/styles/components/Node.scss
  packages/xod-client/src/project/components/Node.jsx
  packages/xod-client/src/project/components/nodeParts/JumperNodeBody.jsx
  packages/xod-project/src/internal/patchPathUtils.js
  packages/xod-project/src/patchPathUtils.js
Labels: s:client, t:tweak

#1665 Tweak nodes in Simulation
  packages/xod-arduino/platform/program.tpl.cpp
  packages/xod-arduino/platform/runtime.cpp
  workspace/blink/__fixtures__/arduino.cpp
  workspace/count-with-feedback-loops/__fixtures__/arduino.cpp
  workspace/lcd-time/__fixtures__/arduino.cpp
  workspace/two-button-switch/__fixtures__/arduino.cpp
Labels: s:rt/c++, t:feat

#1667 Fix including of bundled Arduino libraries in dev mode
  packages/xod-client-electron/src/app/utils.js
  packages/xod-client-electron/webpack.config.js
Labels: s:client, t:bug

#1668 Fix tweak-string-16 implementation
  workspace/__lib__/xod/debug/tweak-string-16/patch.cpp
Labels: regression, s:stdlib

#1672 Fix crash of two linked jumper nodes
  packages/xod-client/src/core/styles/components/Node.scss
  packages/xod-client/src/project/components/nodeParts/JumperNodeBody.jsx
Labels: regression, s:client, t:bug

#1674 Release 0.27.0
  CHANGELOG.md
  lerna.json
  packages/arduino-cli/package.json
  packages/xod-arduino/package.json
  packages/xod-cli/package.json
  packages/xod-client-browser/package.json
  packages/xod-client-electron/package.json
  packages/xod-client/package.json
  packages/xod-cloud-compile/package.json
  packages/xod-deploy-bin/package.json
  packages/xod-deploy/package.json
  packages/xod-fs/package.json
  packages/xod-patch-search/package.json
  packages/xod-pm/package.json
  packages/xod-project/package.json
  packages/xod-tabtest/package.json
  workspace/__lib__/xod-dev/ds-rtc/project.xod
  workspace/__lib__/xod-dev/esp8266-mcu/project.xod
  workspace/__lib__/xod-dev/esp8266/project.xod
  workspace/__lib__/xod-dev/pn532-nfc/project.xod
  workspace/__lib__/xod-dev/sharp-irm/project.xod
  workspace/__lib__/xod-dev/w5500/project.xod
  workspace/__lib__/xod/bits/project.xod
  workspace/__lib__/xod/color/project.xod
  workspace/__lib__/xod/common-hardware/project.xod
  workspace/__lib__/xod/core/project.xod
  workspace/__lib__/xod/datetime/project.xod
  workspace/__lib__/xod/debug/project.xod
  workspace/__lib__/xod/gpio/project.xod
  workspace/__lib__/xod/i2c/project.xod
  workspace/__lib__/xod/math/project.xod
  workspace/__lib__/xod/net/project.xod
  workspace/__lib__/xod/stream/project.xod
  workspace/__lib__/xod/uart/project.xod
  workspace/__lib__/xod/units/project.xod
Labels: t:chore

#1677 Make `xod/math/abs` correctly handle values between -1 and 0 on esp8266
  workspace/__lib__/xod/math/abs/patch.cpp
Labels: s:stdlib, t:bug

#1681 Refactor inspector widgets
  packages/xod-client/package.json
  packages/xod-client/src/editor/components/Inspector.jsx
  packages/xod-client/src/editor/components/NodeInspector.jsx
  packages/xod-client/src/editor/components/PatchInspector.jsx
  packages/xod-client/src/editor/components/PinWidgetsGroup.jsx
  packages/xod-client/src/editor/components/WidgetsGroup.jsx
  packages/xod-client/src/editor/components/inspectorWidgets/IOLabelWidget.jsx
  packages/xod-client/src/editor/components/inspectorWidgets/Widget.jsx
  packages/xod-client/src/editor/components/inspectorWidgets/index.js
  packages/xod-client/src/editor/components/inspectorWidgets/pinWidgets/BoolPinWidget.jsx
  packages/xod-client/src/editor/components/inspectorWidgets/pinWidgets/PulsePinWidget.jsx
Labels: s:client, t:refactor

#1682 Fix normalizing pin labels for C++ and add QuickHelp for C++ and Tabtest editors
  packages/xod-arduino/src/transpiler.js
  packages/xod-client/src/core/selectors.js
  packages/xod-client/src/core/styles/components/CppPatchDocs.scss
  packages/xod-client/src/core/styles/main.scss
  packages/xod-client/src/editor/components/CppPatchDocs.jsx
  packages/xod-client/src/editor/components/TabtestPatchDocs.jsx
  packages/xod-client/src/editor/containers/HelpPanel.jsx
  packages/xod-client/src/editor/selectors.js
  packages/xod-func-tools/src/Strings.re
  packages/xod-func-tools/src/Strings.rei
  packages/xod-func-tools/src/strings.js
  packages/xod-func-tools/test/strings.spec.js
  packages/xod-project/src/index.js
  packages/xod-tabtest/src/TabData.re
  packages/xod-tabtest/src/Tabtest.re
Labels: s:client, s:rt/c++, t:bug, t:feat

#1684 New look of patch board with bound values
  packages/xod-client-browser/test-func/creatingBlinkPatch.spec.js
  packages/xod-client/src/core/styles/abstracts/colors.scss
  packages/xod-client/src/core/styles/abstracts/variables.scss
  packages/xod-client/src/core/styles/components/Comment.scss
  packages/xod-client/src/core/styles/components/Inspector.scss
  packages/xod-client/src/core/styles/components/Node.scss
  packages/xod-client/src/core/styles/components/PatchDocs.scss
  packages/xod-client/src/core/styles/components/Pin.scss
  packages/xod-client/src/core/styles/components/PinLabel.scss
  packages/xod-client/src/core/styles/components/PinValue.scss
  packages/xod-client/src/core/styles/components/PopupPublishProject.scss
  packages/xod-client/src/core/styles/main.scss
  packages/xod-client/src/editor/components/PatchDocs.jsx
  packages/xod-client/src/project/components/Node.jsx
  packages/xod-client/src/project/components/PatchSVG.jsx
  packages/xod-client/src/project/components/Pin.jsx
  packages/xod-client/src/project/components/PinLabel.jsx
  packages/xod-client/src/project/components/PinOverlay.jsx
  packages/xod-client/src/project/components/PinValue.jsx
  packages/xod-client/src/project/components/layers/BackgroundLayer.jsx
  packages/xod-client/src/project/components/nodeParts/BusNodeBody.jsx
  packages/xod-client/src/project/components/nodeParts/JumperNodeBody.jsx
  packages/xod-client/src/project/components/nodeParts/TerminalNodeBody.jsx
  packages/xod-client/src/project/components/nodeParts/VariadicHandle.jsx
  packages/xod-client/src/project/nodeLayout.js
Labels: s:client, t:feat

#1688 Remove debug nodes from nested patches
  packages/xod-arduino/src/transpiler.js
  packages/xod-project/src/constants.js
  packages/xod-project/src/index.js
  packages/xod-project/src/patch.js
  packages/xod-project/src/project.js
  packages/xod-project/test/patch.spec.js
  packages/xod-project/test/project.spec.js
Labels: s:client, t:bug

#1686 Close tabs on middle click
  packages/xod-client/package.json
  packages/xod-client/src/editor/components/TabsItem.jsx
  packages/xod-client/src/editor/containers/Tabs.jsx
  yarn.lock
Labels: s:client, t:tweak

#1698 make `clock` behave like `continuously` when IVAL is set to 0
  workspace/__lib__/xod/core/clock/patch.cpp
  workspace/__lib__/xod/core/clock/patch.test.tsv
  workspace/blink/__fixtures__/arduino.cpp
  workspace/count-with-feedback-loops/__fixtures__/arduino.cpp
Labels: s:stdlib, t:tweak

#1694 Make tabline scrollable
  packages/xod-client/package.json
  packages/xod-client/src/core/styles/abstracts/variables.scss
  packages/xod-client/src/core/styles/components/Editor.scss
  packages/xod-client/src/core/styles/components/ProjectBrowser.scss
  packages/xod-client/src/core/styles/components/Sidebar.scss
  packages/xod-client/src/core/styles/components/Tabs.scss
  packages/xod-client/src/core/styles/components/TabsContainer.scss
  packages/xod-client/src/core/styles/components/Workarea.scss
  packages/xod-client/src/editor/components/TabsContainer.jsx
  packages/xod-client/src/editor/components/TabsItem.jsx
  packages/xod-client/src/editor/containers/Editor.jsx
  packages/xod-client/src/editor/containers/Tabs.jsx
  yarn.lock
Labels: s:client, t:feat

#1700 Add xod/math/min and xod/math/max
  workspace/__lib__/xod/math/map-clip/patch.test.tsv
  workspace/__lib__/xod/math/map-clip/patch.xodp
  workspace/__lib__/xod/math/max/patch.test.tsv
  workspace/__lib__/xod/math/max/patch.xodp
  workspace/__lib__/xod/math/min/patch.test.tsv
  workspace/__lib__/xod/math/min/patch.xodp
Labels: s:stdlib, t:feat

#1701 `tweak-pulse` nodes
  packages/xod-client-electron/src/debugger/sendToSerialMiddleware.js
  packages/xod-client/src/core/styles/components/Inspector.scss
  packages/xod-client/src/debugger/sendToSimulationSerialMiddleware.js
  packages/xod-client/src/editor/actionTypes.js
  packages/xod-client/src/editor/actions.js
  packages/xod-client/src/editor/components/Inspector.jsx
  packages/xod-client/src/editor/components/NodeInspector.jsx
  packages/xod-client/src/editor/components/PinWidgetsGroup.jsx
  packages/xod-client/src/editor/components/inspectorWidgets/PulseTweakWidget.jsx
  packages/xod-client/src/editor/components/inspectorWidgets/index.js
  packages/xod-client/src/editor/components/inspectorWidgets/pinWidgets/PinWidget.jsx
  packages/xod-client/src/editor/containers/Sidebar.jsx
  packages/xod-client/src/index.js
  packages/xod-client/src/project/components/nodeParts/ConstantNodeBody.jsx
  workspace/__lib__/xod/debug/tweak-pulse/patch.cpp
  workspace/__lib__/xod/debug/tweak-pulse/patch.xodp
Labels: s:client, s:stdlib, t:feat

#1702 Tweak list of actions that trigger hinting update
  packages/xod-client/src/hinting/patchMarkers.js
  packages/xod-client/src/hinting/typeDeduction.js
Labels: s:client, t:bug

#1703 Fix coloring of jumper node when it’s connected to generic pins
  packages/xod-client/src/core/styles/components/Node.scss
  packages/xod-client/src/project/components/nodeParts/JumperNodeBody.jsx
Labels: s:client, t:bug
