Repository xodio/xod, pull requests merged in 2019-01, with the labels that each got.

#1620 Release 0.26.1
  CHANGELOG.md
  lerna.json
  packages/xod-arduino/package.json
  packages/xod-cli/package.json
  packages/xod-client-browser/package.json
  packages/xod-client-electron/package.json
  packages/xod-client/package.json
  packages/xod-cloud-tabtest/package.json
  packages/xod-deploy/package.json
  packages/xod-fs/package.json
  packages/xod-patch-search/package.json
  packages/xod-pm/package.json
  packages/xod-project/package.json
  packages/xod-tabtest/package.json
  workspace/__lib__/xod-dev/ds-rtc/project.xod
  workspace/__lib__/xod-dev/esp8266-mcu/project.xod
  workspace/__lib__/xod-dev/esp8266/project.xod
  workspace/__lib__/xod-dev/pn532-nfc/project.xod
  workspace/__lib__/xod-dev/sharp-irm/project.xod
  workspace/__lib__/xod-dev/w5500/project.xod
  workspace/__lib__/xod/bits/project.xod
  workspace/__lib__/xod/common-hardware/project.xod
  workspace/__lib__/xod/core/project.xod
  workspace/__lib__/xod/datetime/project.xod
  workspace/__lib__/xod/gpio/project.xod
  workspace/__lib__/xod/i2c/project.xod
  workspace/__lib__/xod/math/project.xod
  workspace/__lib__/xod/net/project.xod
  workspace/__lib__/xod/stream/project.xod
  workspace/__lib__/xod/uart/project.xod
  workspace/__lib__/xod/units/project.xod
Labels: t:chore

#1608 Add patchFlags map into hinting state to fix #1547
  packages/xod-client/src/hinting/actions.js
  packages/xod-client/src/hinting/middleware.js
  packages/xod-client/src/hinting/patchMarkers.js
  packages/xod-client/src/hinting/reducer.js
  packages/xod-client/src/hinting/selectors.js
  packages/xod-client/src/hinting/state.js
  packages/xod-client/src/projectBrowser/selectors.js
Labels: s:client, t:bug, t:refactor

#1648 Run tabtests in web worker
  package.json
  packages/xod-client/src/core/reducer.js
  packages/xod-client/src/core/styles/components/Debugger.scss
  packages/xod-client/src/debugger/containers/Debugger.jsx
  packages/xod-client/src/debugger/messages.js
  packages/xod-client/src/debugger/reducer.js
  packages/xod-client/src/editor/actionTypes.js
  packages/xod-client/src/editor/actions.js
  packages/xod-client/src/editor/reducer.js
  packages/xod-client/src/editor/selectors.js
  packages/xod-client/src/editor/state.js
  packages/xod-client/src/workers/reducer.js
  packages/xod-client/src/workers/run.js
  packages/xod-client/src/workers/wasm.worker.js
  packages/xod-client/webpack.config.js
  packages/xod-cloud-tabtest/package.json
  packages/xod-cloud-tabtest/src/errorCodes.js
  packages/xod-cloud-tabtest/src/index.js
  packages/xod-cloud-tabtest/src/prepareModuleOptions.js
  packages/xod-cloud-tabtest/src/run.js
  packages/xod-cloud-tabtest/test/endToEnd.spec.js
  packages/xod-cloud-tabtest/test/mocha.opts
  packages/xod-cloud-tabtest/vendor/runtime.js
  yarn.lock
Labels: s:client, t:feat
