Repository xodio/xod, pull requests merged in 2019-06, with the labels that each got.

#1785 Add xod/core/switch-case node
  workspace/__lib__/xod/core/switch-case/patch.xodp
  workspace/test/test-core/test-switch-case/patch.test.tsv
  workspace/test/test-core/test-switch-case/patch.xodp
Labels: s:stdlib, t:feat

#1797 Fix showing cloud compilation limits
  packages/xod-client-browser/src/containers/App.jsx
  packages/xod-client-electron/src/upload/components/PopupUploadConfig.jsx
  packages/xod-client-electron/src/view/containers/App.jsx
  packages/xod-client/src/core/containers/App.jsx
  packages/xod-client/src/editor/actions.js
  packages/xod-client/src/user/actions.js
Labels: s:client, t:bug

#1787 Visualize errors in the IDE
  packages/xod-arduino/src/index.js
  packages/xod-arduino/src/transpiler.js
  packages/xod-client-electron/src/view/containers/App.jsx
  packages/xod-client/src/core/containers/App.jsx
  packages/xod-client/src/core/styles/components/Link.scss
  packages/xod-client/src/core/styles/components/Node.scss
  packages/xod-client/src/core/styles/components/Pin.scss
  packages/xod-client/src/debugger/actions.js
  packages/xod-client/src/debugger/debugProtocol.js
  packages/xod-client/src/debugger/reducer.js
  packages/xod-client/src/debugger/selectors.js
  packages/xod-client/src/debugger/state.js
  packages/xod-client/src/editor/actions.js
  packages/xod-client/src/editor/containers/Patch/modes/changingArityLevel.jsx
  packages/xod-client/src/project/components/Link.jsx
  packages/xod-client/src/project/components/Node.jsx
  packages/xod-client/src/project/components/Pin.jsx
  packages/xod-client/src/project/components/layers/LinksLayer.jsx
  packages/xod-client/src/project/components/layers/NodesLayer.jsx
  packages/xod-client/src/project/selectors.js
  packages/xod-project/src/Node.re
  packages/xod-project/src/Node.rei
  packages/xod-project/src/Patch.re
  packages/xod-project/src/Patch.rei
  packages/xod-project/src/PatchPath.re
  packages/xod-project/src/PatchPath.rei
  packages/xod-project/src/Pin.re
  packages/xod-project/src/Pin.rei
  packages/xod-project/src/Traversing.re
  packages/xod-project/src/Traversing.rei
  packages/xod-project/src/Traversing_Js.re
  packages/xod-project/src/index.js
  packages/xod-project/src/internal/patchPathUtils.js
  packages/xod-project/src/node.js
  packages/xod-project/src/patchPathUtils.js
  packages/xod-project/test/fixtures/traversing.xodball
  packages/xod-project/test/traversing.spec.js
Labels: s:client, t:feat

#1802 Allow Errcode values up to 255
  packages/xod-client/src/utils/normalizeErrcode.js
  packages/xod-client/test/normalizeErrcode.spec.js
  packages/xod-project/src/utils.js
  packages/xod-project/test/utils.spec.js
Labels: s:client, s:core, t:tweak

#1801 Fix `xod/common-hardware/st-imu-round-sensitivity` node
  workspace/__lib__/xod/common-hardware/st-imu-round-sensitivity/patch.test.tsv
  workspace/__lib__/xod/common-hardware/st-imu-round-sensitivity/patch.xodp
Labels: regression, s:stdlib

#1809 Cancel the restriction of deleting used terminals
  packages/xod-client/src/editor/constants.js
  packages/xod-client/src/project/actions.js
  packages/xod-client/src/project/messages.js
  packages/xod-client/test/project.spec.js
Labels: s:client, t:tweak

#1810 Handle cloud compilation errors
  packages/xod-client/src/debugger/messages.js
  packages/xod-client/src/debugger/reducer.js
  packages/xod-cloud-compile/src/compile.js
  packages/xod-cloud-compile/src/errorCodes.js
Labels: s:client, t:bug

#1811 Upgrade electron from 1.8.8 to 4.2.4
  package.json
  packages/xod-client-electron/package.json
  packages/xod-client-electron/src/view/promisifyIpc.js
  packages/xod-deploy/package.json
  yarn.lock
Labels: s:infra, t:chore

#1812 Fix workspace creation and show a bundled project on opening not a XOD file
  packages/xod-client-electron/src/app/workspaceActions.js
Labels: s:client, t:bug

#1813 Show broken patches even if it should be hidden by filter
  packages/xod-client/src/projectBrowser/containers/ProjectBrowser.jsx
Labels: s:client, t:bug
