Repository xodio/xod, pull requests merged in 2019-11, with the labels that each got.

#1902 Make tweak-strings compile for esp8266 boards
  workspace/__lib__/xod/debug/tweak-string-128/patch.cpp
  workspace/__lib__/xod/debug/tweak-string-16/patch.cpp
  workspace/__lib__/xod/debug/tweak-string-32/patch.cpp
  workspace/__lib__/xod/debug/tweak-string-64/patch.cpp
Labels: s:stdlib, t:bug

#1908 tweak: switch to another compilation limits backend
  packages/xod-client/src/editor/actions.js
  packages/xod-client/src/user/actionTypes.js
  packages/xod-client/src/user/actions.js
  packages/xod-client/src/user/reducer.js
  packages/xod-client/src/user/selectors.js
  packages/xod-client/src/user/state.js
  packages/xod-client/src/utils/urls.js
Labels: s:client, t:tweak

#1909 Add search for libraries within XOD IDE
  packages/xod-client/src/editor/components/LibSuggester.jsx
  packages/xod-client/src/projectBrowser/containers/ProjectBrowser.jsx
  packages/xod-client/stories/LibSuggester.jsx
  packages/xod-client/stories/Suggester.jsx
  packages/xod-pm/src/fetch.js
  packages/xod-pm/src/index.js
  packages/xod-pm/src/utils.js
  packages/xod-pm/test-func/fetch.spec.js
  packages/xod-pm/test/utils.spec.js
Labels: s:client, t:feat
