Repository xodio/xod, pull requests merged in 2019-03, with the labels that each got.

#1705 Fix calculating of entities bounding box
  packages/xod-client/src/editor/utils.js
  packages/xod-client/src/project/nodeLayout.js
Labels: s:client

#1711 Convert offset to slots when panning by holding spacebar or middle mouse button
  packages/xod-client/src/editor/containers/Patch/modes/panning.jsx
Labels: regression, s:client, t:bug

#1712 Fix inserted comment dimensions
  packages/xod-client/src/project/reducer.js
Labels: regression, s:client, t:bug

#1713 Update changelog for upcoming 0.28.0
  CHANGELOG.md
Labels: t:chore

#1714 Release 0.28.0
  CHANGELOG.md
  lerna.json
  packages/belt-holes/package.json
  packages/xod-arduino/package.json
  packages/xod-cli/package.json
  packages/xod-client-browser/package.json
  packages/xod-client-electron/package.json
  packages/xod-client/package.json
  packages/xod-cloud-compile/package.json
  packages/xod-deploy-bin/package.json
  packages/xod-deploy/package.json
  packages/xod-fs/package.json
  packages/xod-func-tools/package.json
  packages/xod-patch-search/package.json
  packages/xod-pm/package.json
  packages/xod-project/package.json
  packages/xod-tabtest/package.json
  workspace/__lib__/xod-dev/ds-rtc/project.xod
  workspace/__lib__/xod-dev/esp8266-mcu/project.xod
  workspace/__lib__/xod-dev/esp8266/project.xod
  workspace/__lib__/xod-dev/pn532-nfc/project.xod
  workspace/__lib__/xod-dev/sharp-irm/project.xod
  workspace/__lib__/xod-dev/w5500/project.xod
  workspace/__lib__/xod/bits/project.xod
  workspace/__lib__/xod/color/project.xod
  workspace/__lib__/xod/common-hardware/project.xod
  workspace/__lib__/xod/core/project.xod
  workspace/__lib__/xod/datetime/project.xod
  workspace/__lib__/xod/debug/project.xod
  workspace/__lib__/xod/gpio/project.xod
  workspace/__lib__/xod/i2c/project.xod
  workspace/__lib__/xod/math/project.xod
  workspace/__lib__/xod/net/project.xod
  workspace/__lib__/xod/stream/project.xod
  workspace/__lib__/xod/uart/project.xod
  workspace/__lib__/xod/units/project.xod
Labels: t:chore

#1716 Fix adding a bus node while linking in the right position
  packages/xod-client/src/editor/containers/Patch/modes/linking.jsx
  packages/xod-client/src/project/reducer.js
Labels: regression, s:client, t:bug

#1722 Release 0.28.1
  CHANGELOG.md
  lerna.json
  packages/xod-client-browser/package.json
  packages/xod-client-electron/package.json
  packages/xod-client/package.json
  workspace/__lib__/xod-dev/ds-rtc/project.xod
  workspace/__lib__/xod-dev/esp8266-mcu/project.xod
  workspace/__lib__/xod-dev/esp8266/project.xod
  workspace/__lib__/xod-dev/pn532-nfc/project.xod
  workspace/__lib__/xod-dev/sharp-irm/project.xod
  workspace/__lib__/xod-dev/w5500/project.xod
  workspace/__lib__/xod/bits/project.xod
  workspace/__lib__/xod/color/project.xod
  workspace/__lib__/xod/common-hardware/project.xod
  workspace/__lib__/xod/core/project.xod
  workspace/__lib__/xod/datetime/project.xod
  workspace/__lib__/xod/debug/project.xod
  workspace/__lib__/xod/gpio/project.xod
  workspace/__lib__/xod/i2c/project.xod
  workspace/__lib__/xod/math/project.xod
  workspace/__lib__/xod/net/project.xod
  workspace/__lib__/xod/stream/project.xod
  workspace/__lib__/xod/uart/project.xod
  workspace/__lib__/xod/units/project.xod
Labels: t:chore

#1726 Clean watchNodeValues when simulation is stopped
  packages/xod-client/src/debugger/reducer.js
Labels: s:client, t:bug

#1727 Upgrade to bs-platform 5.0.0
  packages/belt-holes/package.json
  packages/xod-arduino/package.json
  packages/xod-arduino/src/Directives.re
  packages/xod-func-tools/package.json
  packages/xod-project/package.json
  packages/xod-tabtest/package.json
  packages/xod-tabtest/src/TabData.re
  yarn.lock
Labels: t:chore

#1732 Fix default board index value
  packages/xod-client-electron/src/upload/components/PopupUploadConfig.jsx
Labels: regression, s:client, t:bug
