Repository xodio/xod, pull requests merged in 2020-12, with the labels that each got.

#2077 tweak(circleci): pin node version on macos
  .circleci/config.yml
Labels: s:infra, t:tweak

#2078 Copy and save logs from deployment pane
  packages/xod-client/src/core/styles/components/Debugger.scss
  packages/xod-client/src/debugger/containers/Debugger.jsx
  packages/xod-client/src/debugger/messages.js
Labels: s:client, t:feat

#2079 Add tests for copy and save log feature
  package.json
  packages/xod-client-browser/test-func/copy-save.spec.js
  packages/xod-client-browser/test-func/pageObjects/Debugger.js
  packages/xod-client-browser/test-func/pageObjects/Input.js
  packages/xod-client-browser/test-func/pageObjects/Inspector.js
  packages/xod-client/src/debugger/containers/Debugger.jsx
  yarn.lock
Labels: s:client, t:chore
