Repository xodio/xod, pull requests merged in 2021-02, with the labels that each got.

#2098 Table logs feature: collect, view and save tabular data
  packages/xod-arduino/src/index.js
  packages/xod-arduino/src/transpiler.js
  packages/xod-client-electron/src/view/containers/App.jsx
  packages/xod-client/src/core/containers/App.jsx
  packages/xod-client/src/core/styles/components/Button.scss
  packages/xod-client/src/core/styles/components/ReactDatasheet.scss
  packages/xod-client/src/core/styles/components/TableLog.scss
  packages/xod-client/src/core/styles/main.scss
  packages/xod-client/src/debugger/actions.js
  packages/xod-client/src/debugger/constants.js
  packages/xod-client/src/debugger/reducer.js
  packages/xod-client/src/debugger/selectors.js
  packages/xod-client/src/debugger/state.js
  packages/xod-client/src/debugger/utils.js
  packages/xod-client/src/editor/actionTypes.js
  packages/xod-client/src/editor/actions.js
  packages/xod-client/src/editor/components/TabtestEditor.jsx
  packages/xod-client/src/editor/constants.js
  packages/xod-client/src/editor/containers/Editor.jsx
  packages/xod-client/src/editor/containers/Patch/index.jsx
  packages/xod-client/src/editor/containers/Patch/modes/debugging.jsx
  packages/xod-client/src/editor/containers/Patch/modes/selecting.jsx
  packages/xod-client/src/editor/containers/TableLog.jsx
  packages/xod-client/src/editor/reducer.js
  packages/xod-client/src/editor/selectors.js
  packages/xod-client/src/project/components/Node.jsx
  packages/xod-client/test/tableLogSources.spec.js
  packages/xod-project/src/constants.js
  packages/xod-project/src/internal/patchPathUtils.js
  packages/xod-project/src/patchPathUtils.js
  packages/xod-project/src/project.js
  packages/xod-project/test/project.spec.js
  workspace/__lib__/xod/debug/table-log/patch.cpp
  workspace/__lib__/xod/debug/table-log/patch.xodp
Labels: s:client, s:stdlib, t:feat

#2101 Prevent toggling helpbox by "h" key when input focused
  packages/xod-client/src/core/containers/App.jsx
Labels: hotfix, s:client, t:bug

#2102 Release 0.37.3
  CHANGELOG.md
  lerna.json
  packages/xod-client-browser/package.json
  packages/xod-client-electron/package.json
  packages/xod-client/package.json
  workspace/__lib__/xod-cloud/basics/project.xod
  workspace/__lib__/xod-cloud/feeds/project.xod
  workspace/__lib__/xod-dev/dht/project.xod
  workspace/__lib__/xod-dev/ds-rtc/project.xod
  workspace/__lib__/xod-dev/esp8266-mcu/project.xod
  workspace/__lib__/xod-dev/esp8266/project.xod
  workspace/__lib__/xod-dev/hc-sr04/project.xod
  workspace/__lib__/xod-dev/pn532-nfc/project.xod
  workspace/__lib__/xod-dev/servo/project.xod
  workspace/__lib__/xod-dev/sharp-irm/project.xod
  workspace/__lib__/xod-dev/ssd1306-display/project.xod
  workspace/__lib__/xod-dev/st-mems/project.xod
  workspace/__lib__/xod-dev/st7735-display/project.xod
  workspace/__lib__/xod-dev/text-lcd/project.xod
  workspace/__lib__/xod-dev/w5500/project.xod
  workspace/__lib__/xod-dev/ws2812/project.xod
  workspace/__lib__/xod/bits/project.xod
  workspace/__lib__/xod/color/project.xod
  workspace/__lib__/xod/common-hardware/project.xod
  workspace/__lib__/xod/core/project.xod
  workspace/__lib__/xod/datetime/project.xod
  workspace/__lib__/xod/debug/project.xod
  workspace/__lib__/xod/gpio/project.xod
  workspace/__lib__/xod/graphics/project.xod
  workspace/__lib__/xod/i2c/project.xod
  workspace/__lib__/xod/json/project.xod
  workspace/__lib__/xod/math/project.xod
  workspace/__lib__/xod/mutex/project.xod
  workspace/__lib__/xod/net/project.xod
  workspace/__lib__/xod/stream/project.xod
  workspace/__lib__/xod/uart/project.xod
  workspace/__lib__/xod/units/project.xod
  workspace/__lib__/xod/waves/project.xod
Labels: t:chore

#2104 Fix scroll in cpp editor
  packages/xod-client/src/core/styles/components/AttachmentEditor.scss
  packages/xod-client/src/core/styles/components/CodeMirror.scss
Labels: hotfix, s:client, t:bug

#2099 Do not load project with invalid patch paths
  packages/xod-client-electron/src/app/workspaceActions.js
  packages/xod-client-electron/src/view/formatError.js
  packages/xod-fs/src/errorCodes.js
  packages/xod-fs/src/index.js
  packages/xod-fs/src/load.js
  packages/xod-fs/src/messages.js
Labels: t:bug
